* {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
    font-family: Tahoma,Arial,Sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0 46px;
    width: 968px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(153,153,153,1);
    -moz-box-shadow: 0 0 4px 0 rgba(153,153,153,1);
    box-shadow: 0 0 4px 0 rgba(153,153,153,1);
}

/* HEADER */
.header {
    padding-top: 50px;
    margin-bottom: 40px;
}

.menu {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    background: #565555;
}

.menu li {
    list-style: none;
    float: left;
}

.menu a {
    display: block;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    padding: 0 40px;
    font-size: 15px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu a:hover {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #494949;
}

/* CONTENT */
.content {
    position: relative;
    overflow: hidden;
}

.sidebar-menu {
    float: left;
    width: 240px;
}

.sidebar-menu {
    border: 1px solid #c8c8c8;
}

.sidebar-menu li {
    border-top: 1px solid #c8c8c8;
}

.sidebar-menuli:first-child {
    border: none;
}

.sidebar-menu a {
    display: block;
    padding-left: 20px;
    line-height: 37px;
    color: #656363;
    text-decoration: none;
    transition: 0,2s all;
}

.sidebar-menu a:hover {
    padding-left: 35px;
    background: #f9f9f9;
}

.product {
    float: right;
    width: 680px;
}

.product-image {
    padding: 40px 0;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.product-description {
    padding: 30px 22px 22px;
    line-height: 21px;
    font-size: 13px;
    color: #2c2c2c;
}

/*FOOTER */
.footer {
    padding: 50px 0;
}

.footer-menu {
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
}

.footer-menu li {
    float: left;
    list-style: none;
    line-height: 40px;
}

.footer-menu.copyrights {
    float: right;
    padding-right: 26px;
}

.footer-menu a {
    display: block;
    color: #2c2c2c;
    text-decoration: none;
    padding: 0 50px;
}
